name: CI Express Logistique

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'oracle'
          cache: 'maven'

      - name: Compilation et Tests
        run: |
          chmod +x mvnw
          MAVEN_OPTS="-XX:+EnableDynamicAgentLoading" ./mvnw clean test -B